body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  border: 5px solid crimson;
  border-radius: 10%;
  padding-bottom: 20px;
}

input{
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
}

h1{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: black;
  color: rgb(240, 238, 234);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  padding: 13px;
}

#btn{
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  width: 50%;
  max-width: 200px;
  height: 15%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

#btn:hover{
  transition: 0.3s ;
  background-color: brown;
  color: white;
}

#result{
  margin: auto;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  #btn {
    width: 70%;
  }
}
